* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background: rgb(29, 180, 154);
  overflow: hidden;
}
.container {
  max-width: 440px;
  padding: 0px 20px;
  margin: 170px auto;
}
.log-container {
  position: relative;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  border: none;
}
.login-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  padding: 10px 0 20px 0;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}
.log-container .login-text {
  content: "";
  position: relative;
  height: 50%;
  width: 100%;
  top: 0px;
  left: 0px;
  border-radius: 5px 5px 0 0;
  background-color: rgb(40, 128, 99);
}

.log-form {
  padding: 0px 25px 20px 25px;
}
.log-form .row {
  margin: 20px;
  position: relative;
}
.log-form .row i {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  color: #fff;
  background-color: rgb(40, 128, 99);
  display: flex;
  align-items: center;
  justify-content: center;
}
.row input {
  width: 300px;
  height: 40px;
  padding-left: 45px;
  outline: none;
}
a {
  text-decoration: none;
  color: #16a085;
}
a:hover {
  text-decoration: underline;
}
.btn .row-2 {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
}
.btn .row-2 span {
  margin-left: 50px;
}
.sub-btn input {
  width: 300px;
  height: 40px;
  margin: 20px;
  font-size: 20px;
  color: #fff;
  background-color: rgb(40, 128, 99);
  border: none;
  border-radius: 5px;
}
.sign-up {
  margin-left: 60px;
}
